[submodule "package/lean/luci-app-ssr-plus"]
	path = package/lean/luci-app-ssr-plus
	url = https://github.com/fumiama/luci-app-ssr-plus.git
[submodule "package/fumiama/.noddos"]
	path = package/fumiama/.noddos
	url = https://github.com/fumiama/noddos.git
[submodule "package/fumiama/fullconenat"]
	path = package/fumiama/fullconenat
	url = https://github.com/LGA1150/openwrt-fullconenat.git
[submodule "package/fumiama/.fullconenat_patch"]
	path = package/fumiama/.fullconenat_patch
	url = https://github.com/LGA1150/fullconenat-fw3-patch
[submodule "package/fumiama/useful"]
	path = package/fumiama/useful
	url = https://github.com/kenzok8/openwrt-packages.git
[submodule "package/.lean-lede"]
	path = package/.lean-lede
	url = https://github.com/coolsnowwolf/lede.git
[submodule "package/fumiama/luci-theme-rosy"]
	path = package/fumiama/luci-theme-rosy
	url = https://github.com/fumiama/luci-theme-rosy.git
[submodule "package/fumiama/passwall"]
	path = package/fumiama/passwall
	url = https://github.com/xiaorouji/openwrt-passwall.git
